* {
	box-sizing: border-box;

	/*outline: red 1px solid;*/
}

html, body {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url("../images/melbourne-night.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: stretch;
}

h1, h2, h3, h4, h5, h6, p {
	font-family: Helvetica, Arial;
}

h2 {
	font-size: 2em;
	padding-top: 20px;
	text-align: center;
	font-style: italic;
}

/*Main Container*/
#container {
	position: relative;
	top:25px;
	max-width: 800px;	/* Will allow for some smaller windows and resize itself */
	margin: 0px auto;
}

/*Navigation Tabs*/
#tabs {
	position: absolute;
	left: 0px;
	width: 125px;
}

#tabs ul {
	padding: 0px;
	margin: 0px;
}

#tabs li {
	list-style-type: none;
	padding: 10px 5px 10px 10px;
	margin: 0px 0px 10px 5px;
	border-radius: 5px 0px 0px 5px;
	box-shadow: 12px 12px 12px -6px black;
}

.selected-tab {
	background-color: #efefef;	
	font-weight: bold;
	float: right;
}

.unselected-tab {
	background-color: #CECECE;	
	font-weight: normal;	
	float: right;
}

.correct {
	background-image: url("../images/tick.png");
	float: right;
	height: 1em;
	width: 1em;
}

.incorrect {
	background-image: url("../images/cross.png");
	float: right;
	height: 1em;
	width: 1em;
}

/*Content*/
#content {
	background-color: #efefef;
	padding: 0px 20px 20px 20px;
	border-radius: 0px 5px 5px 5px;	
	position: absolute; /*Set to absolute so the box-shadow from the tabs doesn't go into this area*/
	left: 125px;	/* Must be equal to #tabs width */
	box-shadow: 12px 12px 12px -6px black;
}

#content img {
	display: block;
	margin: 0px auto;
	max-width: 100%;	/* re-sizes image with the window */
	box-shadow: 8px 8px 6px -6px black;
}

button {
	padding: 5px 10px;
	border-radius: 5px;
	border: none;
	box-shadow: 8px 8px 6px -6px black;
}	

button:hover{
	background-color: #CECECE;
}

button:focus {
	outline:0;
	background-color: #CECECE;
}

#answer-buttons {
	text-align: center;
	margin: 20px;
}

#answer-buttons button {
	margin: 5px;
}

#next-button {
	text-align: right;
}

#answer {
	visibility: hidden;	 /* Hide the answer until JS reveals it */
}

#summary {
	display: none;
	text-align: center;
}

#new-button {
	display: none;
	text-align: center;	
	margin-top: 20px;
}