* {
	box-sizing: border-box;

	/*outline: red 1px solid;*/
}

html, body {
	padding: 0px;
	margin: 0px;
}

body {
	background-image: url("../images/melbourne-night.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-size: stretch;
}

h2 {
	padding-top: 20px;
	text-align: center;
}

p {
	/*padding: 10px;*/
}

/*Main Container*/
#container {
	/*position: relative;*/
	max-width: 800px;	/* Will allow for some smaller windows and resize itself */
	margin: 0px auto;
	box-shadow: 12px 12px 12px -6px black;
}

/*Navigation Tabs*/
#tabs {
	float: left;
	left: 0px;
	width: 110px;
}

#tabs ul {
	padding: 0px;
	margin: 0px;
}

#tabs li {
	list-style-type: none;
	padding: 10px 5px 10px 10px;
	margin: 0px 0px 10px 5px;
	border-radius: 5px 0px 0px 5px;
	box-shadow: 4px 12px 12px -6px black;
}

.selected-tab {
	background-color: #efefef;	
	font-weight: bold;
}

.unselected-tab {
	background-color: #CECECE;		
}

/*Content*/
#content {
	margin-left: 110px;
	background-color: #efefef;
	padding: 0px 20px 20px 20px;
	border-radius: 0px 5px 5px 5px;	
}

#content img {
	display: block;
	margin: 0px auto;
	max-width: 100%;	/* re-sizes image with the window */
	box-shadow: 0 8px 6px -6px black;
}

button {
	padding: 5px 10px;
}	/* need to style with gradient and hover/action effects */

#answer-buttons {
	text-align: center;
	margin: 20px;
}

#answer-buttons button {
	margin: 5px;
}

.next-button {
	text-align: right;
}

#answer {
	/*visibility: hidden;	 Hide the answer until JS reveals it */
}